@import "../../Styles/index.module.scss";

.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &__con {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

    @include if-device(phone) {
      margin: 30px 0;
      flex-wrap: wrap;
    }

    @include if-device(tablet) {
      margin: 30px 0;
      flex-wrap: wrap;
    }

    &__gender {
      @include if-device(phone) {
        width: 40%;
      }
      @include if-device(tablet) {
        width: 40%;
      }

      > form {
        > input {
          font-size: 45px;
          font-family: "Nunito";
          font-weight: 700;
          text-align: left;

          @include if-device(phone) {
            font-size: 18px;
          }
          @include if-device(tablet) {
            font-size: 20px;
          }
        }
        > label {
          font-size: 25px;
          font-family: "Nunito";
          font-weight: 700;
          text-align: left;
          width: 100%;
          @include if-device(phone) {
            font-size: 15px;
          }
          @include if-device(tablet) {
            font-size: 18px;
          }
        }
      }
    }

    &__img {
      @include if-device(phone) {
        width: 50%;
        text-align: center;
      }
      @include if-device(tablet) {
        width: 50%;
        text-align: center;
      }
      border: 2px solid gray;
      padding: 20px;
      border-radius: 20px;
      @include if-device(phone) {
        padding: 5px;
      }
      @include if-device(tablet) {
        padding: 5px;
      }
      > p {
        font-size: 20px;
        font-family: "Nunito";
        font-weight: 700;
        margin-top: 10px;
        @include if-device(phone) {
          font-size: 12px;
        }
        @include if-device(tablet) {
          font-size: 18px;
        }
      }
      > input {
        font-size: 18px;
        @include if-device(phone) {
          font-size: 10px;
        }
        @include if-device(tablet) {
          font-size: 15px;
        }
      }
    }

    &__aadhar {
      @include if-device(phone) {
        width: 100%;
        margin-top: 20px;
      }
      @include if-device(tablet) {
        width: 100%;
        margin-top: 20px;
      }
      border: 2px solid rgb(182, 172, 172);
      padding: 20px;
      border-radius: 20px;
      @include if-device(phone) {
        padding: 15px;
      }
      @include if-device(tablet) {
        padding: 18px;
      }
      > p {
        font-size: 20px;
        font-family: "Nunito";
        font-weight: 700;
        margin-top: 10px;

        @include if-device(phone) {
          font-size: 10px;
        }
        @include if-device(tablet) {
          font-size: 22px;
        }
      }
      > input {
        font-size: 15px;
      }
    }
  }
}
