@import "../../Styles/index.module.scss";

.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &__con {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

    @include if-device(phone) {
      margin: 30px 0;
      flex-wrap: wrap;
    }

    @include if-device(tablet) {
      margin: 30px 0;
      flex-wrap: wrap;
      column-gap: 50px;
    }
    @include if-device(largephone) {
      margin: 30px 0;
      flex-wrap: wrap;
      column-gap: 50px;
    }

    &__gender {
      display: flex;
      align-items: start;
      column-gap: 15px;

      @include if-device(phone) {
        width: 100%;
      }
      @include if-device(tablet) {
        width: 100%;
      }
      @include if-device(largephone) {
        width: 100%;
      }

      &__radioGroup {
        text-align: left;
        margin-bottom: 10px;
        > input {
          height: 15px;
          width: 15px;
          margin-right: 10px;

          @include if-device(phone) {
            font-size: 18px;
          }
          @include if-device(tablet) {
            font-size: 20px;
          }
          @include if-device(largephone) {
            font-size: 20px;
          }
        }
        > label {
          font-size: 20px;
          font-family: "Nunito";
          font-weight: 600;
          text-align: left;
          width: 100%;

          @include if-device(phone) {
            font-size: 18px;
          }
          @include if-device(tablet) {
            font-size: 18px;
          }
          @include if-device(largephone) {
            font-size: 20px;
          }
        }
      }
    }

    &__img {
      @include if-device(phone) {
        width: 100%;
        text-align: center;
      }
      @include if-device(tablet) {
        width: 100%;
        text-align: center;
      }
      @include if-device(largephone) {
        width: 100%;
        text-align: center;
      }
      border: 2px solid gray;
      padding: 15px;
      border-radius: 20px;
      @include if-device(phone) {
        padding: 5px;
      }
      @include if-device(tablet) {
        padding: 5px;
      }
      @include if-device(largephone) {
        padding: 5px;
      }
      > p {
        font-size: 20px;
        font-family: "Nunito";
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;
        @include if-device(phone) {
          font-size: 18px;
        }
        @include if-device(tablet) {
          font-size: 18px;
        }
        @include if-device(largephone) {
          font-size: 20px;
        }
      }
      > input {
        font-size: 15px;

        @include if-device(phone) {
          font-size: 10px;
          margin-bottom: 10px;
        }
        @include if-device(tablet) {
          font-size: 15px;
          margin-bottom: 10px;
        }
        @include if-device(largephone) {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }
    }

    &__aadhar {
      @include if-device(phone) {
        width: 100%;
        margin-top: 20px;
      }
      @include if-device(tablet) {
        width: 100%;
        margin-top: 20px;
      }
      @include if-device(largephone) {
        width: 100%;
        margin-top: 20px;
      }
      border: 2px solid rgb(182, 172, 172);
      padding: 18px 15px;
      border-radius: 20px;
      @include if-device(phone) {
        padding: 15px;
      }
      @include if-device(tablet) {
        padding: 18px;
      }
      @include if-device(largephone) {
        padding: 20px;
      }
      > p {
        font-size: 16px;
        font-family: "Nunito";
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;

        @include if-device(phone) {
          font-size: 11px;
        }
        @include if-device(tablet) {
          font-size: 11px;
        }
        @include if-device(largephone) {
          font-size: 20px;
        }
      }
      > input {
        font-size: 15px;
        @include if-device(phone) {
          font-size: 11px;
        }
        @include if-device(tablet) {
          font-size: 11px;
        }
        @include if-device(largephone) {
          font-size: 18px;
        }
      }
    }
  }
}

.error {
  color: red;
  text-align: left;
}

.c1 {
  @include if-device(phone) {
    width: 50%;
  }
  @include if-device(tablet) {
    width: 50%;
  }
  @include if-device(largephone) {
    width: 100%;
  }
}
.c2 {
  @include if-device(phone) {
    width: 50%;
  }
  @include if-device(tablet) {
    width: 100%;
  }
  @include if-device(largephone) {
    width: 100%;
  }
}
.c3 {
  @include if-device(phone) {
    width: 100%;
  }
  @include if-device(tablet) {
    width: 100%;
  }
  @include if-device(largephone) {
    width: 100%;
  }
}
