@import "../../Styles/index.module.scss";
.syllabus {

  &__wrap {
    margin-top: 20px;
    background-color: rgb(121 109 177);
    width: 100%;
    padding: 50px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    @include if-device(phone) {
    flex-direction: column-reverse;
    }
    @include if-device(largephone) {
    flex-direction: column-reverse;
      
    }
    &__leftSide {
      color: #fff;
      @include if-device(phone) {
        width: 100%;
      }
      @include if-device(largephone) {
        width: 100%;
      }
      & > button {
        background-color: #f16865;
        display: block;
        padding: 30px;
        border-radius: 5px;
        border: none;
        width: 100%;
        font-size: 25px;
        color: #fff;
        margin: 30px 0px;
        border-radius: 8px;
        @include if-device(phone) {
          font-size: 18px;
          width: 100%;
        }
        @include if-device(largephone) {
          font-size: 22px;
          width: 100%;
        }
      }
    }
    }
  &__aboutSection {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 18px;
    @include if-device(phone) {
      flex-wrap: wrap;
    row-gap: 30px;
    }
    @include if-device(largephone) {
      flex-wrap: wrap;
    row-gap: 30px;
    }

    &__image {
      width: 500px;
      @include if-device(largephone) {
      margin: auto;
      }
      @include if-device(tablet) {
        margin: auto;
        }
      & > img {
        width: 100%;
      }
      & > p {
        position: relative;
        bottom: 5px;
        background-color: #f16865;
        border-radius: 16px;
        font-size: 12px;
        color: #fff;
        padding: 8px 10px;
        text-transform: uppercase;
        @include if-device(phone) {
          width: 70%;
          left: 12%;
        }
        @include if-device(largephone) {
          left: 12%;
          width: 70%;

        }
        @include if-device(tablet) {
          left: 12%;
          width: 70%;

        }
      }
    }
    &__about {
      text-align: start;
      & > p {
        font-size: 17px;
        font-weight: 500;
        & > span {
          color: rgb(233 101 43);
        }
      }
    }
  }
}
