.nav{
    background-color: #5b08d0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    list-style: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}