.selectMultiple {
  & > select {
    width: 100%;
    border-radius: 8px;
    padding: 13px;
    color: #555;
    font-size: 17px;
    border: none;
    outline-color: #777;
    & > option {
      width: 100%;
      border-radius: 8px;
      padding: 13px;
      color: #555;
      font-size: 17px;
      border: none;
      outline-color: #777;
    }
  }
}
