@import "../../style/index.module.scss";

.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > input {
      padding: 20px 30px;

      width: 100%;
      border-radius: 5px;
      outline: none;
      border: 1px solid gray;
      @include if-device(phone) {
        padding: 15px 10px;
      }
      @include if-device(tablet) {
        padding: 20px 15px;
      }
      &::placeholder {
        font-size: 20px;
        @include if-device(phone) {
          font-size: 15px;
        }
      }
    }
    > label {
      font-size: 25px;
      font-family: "Nunito";
      font-weight: 700;
      text-align: left;
      width: 100%;
      @include if-device(phone) {
        font-size: 18px;
      }
    }
  }
}
