@import "../../Styles/index.module.scss";
.registrationArea {
  width: 100%;
  margin: auto;
  @include if-device(phone) {
    width: 100%;
  }
  @include if-device(largephone) {
    width: 100%;
  }
  @include if-device(tablet) {
    width: 100%;
  }
}
