@import "../../Styles/index.module.scss";

.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > input {
      padding: 10px 20px;
      font-size: 20px;
      width: 100%;
      border-radius: 5px;
      outline: none;
      border: 1px solid gray;
      @include if-device(phone) {
        font-size: 16px;
      }

      &::placeholder {
        font-size: 16px;
        @include if-device(phone) {
          font-size: 12px;
        }
        @include if-device(tablet) {
          font-size: 14px;
        }

        @include if-device(largephone) {
          font-size: 15px;
        }
      }
    }
    > label {
      font-size: 20px;
      font-family: "Nunito";
      font-weight: 600;
      text-align: left;
      width: 100%;
      margin-bottom: 5px;
      @include if-device(phone) {
        font-size: 18px;
      }
      @include if-device(tablet) {
        font-size: 18px;
      }
      @include if-device(largephone) {
        font-size: 20px;
      }
    }
  }
}
