@import "../../Styles/index.module.scss";
.aspirantArea {
  margin: 30px;
  @include if-device(tablet) {
    grid-template-columns: 1fr 1fr;
  }
  @include if-device(largephone) {
    grid-template-columns: 1fr;
  }
  @include if-device(phone) {
    grid-template-columns: 1fr;
  }
}
